<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title><%= title %></title>

</head>
<body>
    <h2>Board Project TEST</h2>

    <form action="updateForm" method="POST">
        <table border="1">
            <tr>
                <th>제목</th>
                <td><%=board.title%></td>
            </tr>
            <tr>
                <th>내용</th>
                <td><%=board.content%></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td><%=board.userId%></td>
            </tr>
            <tr>
                <th>작성일</th>
                <td><%=board.regDate%></td>
            </tr>
        </table>
        <input type="submit" value="수정하기">
        <input type="button" value="목록" onclick="location.replace('list')">
    </form>
        
</body>
</html>