<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>

</head>
<body>
    <h2>Board Project TEST</h2>
    
    <a href="writeForm">글쓰기</a>
    <table border="2">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
            <th>조회수</th>
        </tr>
        <%
            for(var key in list)
            {
        %>
        <tr>
            <td><%=list[key].boardNo%></td>
            <td><%=list[key].title%></td>
            <td><a href="/board/contentView?boardNo=<%=list[key].boardNo%>"><%=list[key].content%></a></td>
            <td><%=list[key].memberId%></td>
            <td><%=list[key].hits%></td>
        </tr>
        <%
            }
        %>
    </table>
</body>
</html>